$main_color: #2e4d66;
$main_pale_color: rgba(46, 77, 102, .4);
$pi_color: #009b6c;
$pi_pale_color: rgba(0, 155, 108, .1);
$if_color: #fe585f;
$if_pale_color: rgba(254, 88, 95, .1);
$pubmed_pale_color: rgba(32, 85, 138, .1);